<section class="bg-light center" id="skills">
  <div class="container">
    <div class="text-center">
      <h1 class="section-heading text-primary">I am good with</h1>
      <hr class="primary my-4">
    </div>
    <section id="integrations">
      <ul id="integration-list" class="integration-list">
        <li>
          <span class="l" style="background-color: #E54D26">
            <i class="devicon-html5-plain-wordmark white" title="HTML5"></i>
          </span>
        </li>
        <li>
          <span class="m" style="background-color: #3D8FC6">
            <i class="devicon-css3-plain-wordmark white" title="CSS3"></i>
          </span>
        </li>
        <li>
          <span class="m" style="background-color: #59407F">
            <i class="devicon-bootstrap-plain-wordmark white" title="Bootstrap"></i>
          </span>
        </li>
        <li>
          <span class="l" style="background-color: #F0DB4F">
            <i class="devicon-javascript-plain white" title="Javascript"></i>
          </span>
        </li>
        <li>
          <span class="l" style="background-color: #007ACC">
            <i class="devicon-typescript-plain white" title="TypeScript"></i>
          </span>
        </li>
        <li>
          <span class="s" style="background-color: #EC3E1C">
            <i class="devicon-java-plain-wordmark white" title="Core Java"></i>
          </span>
        </li>
        <li>
          <span class="l" style="background-color: #DD1B16">
            <i class="devicon-angularjs-plain white" title="Angular"></i>
          </span>
        </li>
        <li>
          <span class="s" style="background-color: #61DAFB">
            <i class="devicon-react-plain white" title="ReactJS"></i>
          </span>
        </li>
        <li>
          <span class="s" style="background-color: #41B883">
            <i class="devicon-vuejs-plain white" title="VueJS"></i>
          </span>
        </li>
        <li>
          <span class="l" style="background-color: #83CD29">
            <i class="devicon-nodejs-plain-wordmark white" title="nodeJS"></i>
          </span>
        </li>
        <li>
          <span class="m">
            <i class="devicon-express-original-wordmark colored" title="expressJS"></i>
          </span>
        </li>
        <li>
          <span class="m">
            <i class="devicon-mongodb-plain-wordmark colored" title="MongoDB"></i>
          </span>
        </li>
        <li>
          <span class="s" style="background-color: #00618A">
            <i class="devicon-mysql-plain-wordmark white" title="MySQL"></i>
          </span>
        </li>
        <li>
          <span class="l" style="background-color: #EB4A4B">
            <i class="devicon-gulp-plain white" title="Gulp"></i>
          </span>
        </li>
        <li>
          <span class="m" style="background-color: #1C78C0">
            <i class="devicon-webpack-plain white" title="Webpack"></i>
          </span>
        </li>
        <li>
          <span class="l">
            <i class="devicon-git-plain-wordmark colored" title="Git"></i>
          </span>
        </li>
        <li>
          <span class="m" style="background-color: #E24329">
            <i class="devicon-gitlab-plain-wordmark white" title="GitLab"></i>
          </span>
        </li>
        <li>
          <span class="l" style="background-color: #181616">
            <i class="devicon-github-plain-wordmark white" title="GitHub"></i>
          </span>
        </li>
        <li>
          <span class="l" style="background-color: #205081">
            <i class="devicon-bitbucket-plain-wordmark white" title="BitBucket"></i>
          </span>
        </li>
        <li>
          <span class="m">
            <img src="assets/img/devicons/bamboo.png" alt="Bamboo" title="Bamboo">
          </span>
        </li>
        <li>
          <span class="m">
            <img src="assets/img/devicons/jenkins.png" alt="Jenkins" title="Jenkins">
          </span>
        </li>

        <li>
          <span class="m">
            <img src="assets/img/devicons/pcf.png" alt="PCF" title="PCF">
          </span>
        </li>
        <li>
          <span class="m">
            <i class="devicon-ubuntu-plain-wordmark colored" title="Ubuntu"></i>
          </span>
        </li>
        <li>
          <span class="m">
            <i class="devicon-nginx-original-wordmark colored" title="NGINX"></i></span>
        </li>
        <li>
          <span class="m" style="background-color: #F7A80D">
            <i class="devicon-amazonwebservices-plain-wordmark white" title="AWS"></i>
          </span>
        </li>
        <li>
          <span class="m" style="background-color: #303284">
            <i class="devicon-apache-plain-wordmark white" title="Apache2"></i>
          </span>
        </li>
      </ul>
    </section>
  </div>
</section>

<!-- <section class="bg-light" id="skills">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h1 class="section-heading text-primary">Skills I am good at</h1>
        <hr class="primary my-4">
      </div>

    </div>
    <div class="row skills">
      <div class="col-12 col-md-3 text-center group">
        <h2 class="text-primary">Interfacing</h2>
        <hr class="primary my-4">
        <i class="devicon-html5-plain colored" title="HTML5"></i>
        <i class="devicon-css3-plain colored" title="CSS3"></i>
        <i class="devicon-bootstrap-plain colored" title="Bootstrap"></i>
      </div>
      <div class="col-12 col-md-3 text-center group">
        <h2 class="text-primary">Programming</h2>
        <hr class="primary my-4">
        <i class="devicon-javascript-plain colored" title="Javascript"></i>
        <i class="devicon-typescript-plain colored" title="Typescript"></i>
        <i class="devicon-java-plain bg-primary text-light" title="Java"></i>
      </div>
      <div class="col-12 col-md-3 text-center group">
        <h2 class="text-primary">Frameworks</h2>
        <hr class="primary my-4">
        <i class="devicon-angularjs-plain colored" title="Angular"></i>
        <i class="devicon-react-plain colored" title="React"></i>
        <i class="devicon-nodejs-plain colored" title="Node JS"></i>
        <i class="devicon-express-original" title="Express"></i>
      </div>
      <div class="col-12 col-md-3 text-center group">
        <h2 class="text-primary">Databases</h2>
        <hr class="primary my-4">
        <i class="devicon-mongodb-plain colored" title="Mongo DB"></i>
        <i class="devicon-mysql-plain colored" title="My SQL"></i>
      </div>
      <div class="col-12 col-md-3 text-center group">
        <h2 class="text-primary">Build</h2>
        <hr class="primary my-4">
        <i class="devicon-gulp-plain colored" title="Gulp"></i>
        <i class="devicon-webpack-plain colored" title="Webpack"></i>

      </div>
      <div class="col-12 col-md-3 text-center group">
        <h2 class="text-primary">Version Control</h2>
        <hr class="primary my-4">
        <i class="devicon-git-plain colored" title="Git"></i>
        <i class="devicon-gitlab-plain colored" title="Gitlab"></i>
        <i class="devicon-github-plain colored" title="Github"></i>
      </div>
      <div class="col-12 col-md-3 text-center group">
        <h2 class="text-primary">CI/CD</h2>
        <hr class="primary my-4">
        <img class="custom-devicon" src="assets/assets/img/devicons/devicons/bamboo.png" title="Bamboo">

      </div>
      <div class="col-12 col-md-3 text-center">
        <h2 class="text-primary">Cloud/Servers</h2>
        <hr class="primary my-4">
        <i class="devicon-amazonwebservices-plain colored" title="Amazon Web Services"></i>
        <i class="devicon-nginx-plain colored" title="Nginx"></i>
        <i class="devicon-apache-plain colored" title="Apache"></i>
        <i class="devicon-ubuntu-plain colored" title="Ubuntu"></i>
      </div>
    </div>
    <div class="placeholder"></div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <a class="animated btn btn-primary btn-xl js-scroll-trigger " href="#favorites"
          (mouseenter)="appService.animate($event)">I love to do</a>
      </div>
    </div>
  </div>
</section> -->
