<section class="bg-ligh padding-regular" id="skills">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h1 class="section-heading text-primary">Skills I am good at</h1>
                <hr class="primary my-4">
            </div>

        </div>
        <div class="row skills">
            <div class="col-12 col-md-3 text-center group">
                <h2 class="text-primary">Interfacing</h2>
                <hr class="primary my-4">
                <i class="devicon-html5-plain colored" title="HTML5"></i>
                <i class="devicon-css3-plain colored" title="CSS3"></i>
                <i class="devicon-bootstrap-plain colored" title="Bootstrap"></i>
            </div>
            <div class="col-12 col-md-3 text-center group">
                <h2 class="text-primary">Programming</h2>
                <hr class="primary my-4">
                <i class="devicon-javascript-plain colored" title="Javascript"></i>
                <i class="devicon-typescript-plain colored" title="Typescript"></i>
                <i class="devicon-java-plain bg-primary text-light" title="Java"></i>
            </div>
            <div class="col-12 col-md-3 text-center group">
                <h2 class="text-primary">Frameworks</h2>
                <hr class="primary my-4">
                <i class="devicon-angularjs-plain colored" title="Angular"></i>
                <i class="devicon-react-plain colored" title="React"></i>
                <i class="devicon-nodejs-plain colored" title="Node JS"></i>
                <i class="devicon-express-original" title="Express"></i>
            </div>
            <div class="col-12 col-md-3 text-center group">
                <h2 class="text-primary">Databases</h2>
                <hr class="primary my-4">
                <i class="devicon-mongodb-plain colored" title="Mongo DB"></i>
                <i class="devicon-mysql-plain colored" title="My SQL"></i>
            </div>
            <div class="col-12 col-md-3 text-center group">
                <h2 class="text-primary">Build</h2>
                <hr class="primary my-4">
                <i class="devicon-gulp-plain colored" title="Gulp"></i>
                <i class="devicon-webpack-plain colored" title="Webpack"></i>

            </div>
            <div class="col-12 col-md-3 text-center group">
                <h2 class="text-primary">Version Control</h2>
                <hr class="primary my-4">
                <i class="devicon-git-plain colored" title="Git"></i>
                <i class="devicon-gitlab-plain colored" title="Gitlab"></i>
                <i class="devicon-github-plain colored" title="Github"></i>
            </div>
            <div class="col-12 col-md-3 text-center group">
                <h2 class="text-primary">CI/CD</h2>
                <hr class="primary my-4">
                <img class="custom-devicon" src="assets/img/devicons/bamboo.png" title="Bamboo">

            </div>
            <div class="col-12 col-md-3 text-center">
                <h2 class="text-primary">Cloud/Servers</h2>
                <hr class="primary my-4">
                <i class="devicon-amazonwebservices-plain colored" title="Amazon Web Services"></i>
                <i class="devicon-nginx-plain colored" title="Nginx"></i>
                <i class="devicon-apache-plain colored" title="Apache"></i>
                <i class="devicon-ubuntu-plain colored" title="Ubuntu"></i>
            </div>
        </div>
        <div class="placeholder"></div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <a class="animated btn btn-primary btn-xl js-scroll-trigger sr-button" href="#favorites" (mouseenter)="appService.animate($event)">I love to do</a>
            </div>
        </div>
    </div>
</section>
